modules {
  module {
    name     = "__HOSTNAME__"
    language = "python"

    param host {
      value = "__HOSTNAME__"
    }
    param port {
      value = 1978
    }
    param type {
      value = "Tokyo Tyrant"
    }

    param refresh_rate {
        value = 15
    }

    param metrix_prefix {
        value = "__HOSTNAME__"
    }
    param spoof_host {
        value = "IPADDRESS:HOSTNAME"
    }

  }
}

collection_group {
  collect_every  = 20
  time_threshold = 90

  metric {
    name  = "__HOSTNAME___curr_items"
    title = "Current number of items stored"
    value_threshold = 0
  }
  metric {
    name  = "__HOSTNAME___cmd_get"
    title = "Cumulative number of retrieval reqs"
    value_threshold = 0
  }
  metric {
    name  = "__HOSTNAME___cmd_set"
    title = "Cumulative number of storage reqs"
    value_threshold = 0
  }
  metric {
    name  = "__HOSTNAME___bytes"
    title = "Current number of bytes used to store items"
    value_threshold = 0
  }
  metric {
    name  = "__HOSTNAME___cmd_get_hits"
    title = "Number of keys that have been requested and found present "
    value_threshold = 0
  }
  metric {
    name  = "__HOSTNAME___cmd_get_misses"
    title = "Number of items that have been requested and not found"
    value_threshold = 0
  }
  metric {
    name  = "__HOSTNAME___cmd_set_hits"
    title = "Number of keys that have been stored and found present "
    value_threshold = 0
  }
  metric {
    name  = "__HOSTNAME___cmd_set_misses"
    title = "Number of items that have been stored and not found"
    value_threshold = 0
  }
  metric {
    name  = "__HOSTNAME___cmd_delete"
    title = "Cumulative number of delete reqs"
    value_threshold = 0
  }
  metric {
    name  = "__HOSTNAME___cmd_delete_hits"
    title = "Number of keys that have been deleted and found present "
    value_threshold = 0
  }
  metric {
    name  = "__HOSTNAME___cmd_delete_misses"
    title = "Number of items that have been deleted and not found"
    value_threshold = 0
  }

}

